*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
   
    min-height: 100vh;
    background-color: black;
}
.containerStart{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.topContainer{
    height: 400px;
      background:   url(./space.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;

      }
.headingDesc{
    color: whitesmoke;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
    font-family: 'Noto Sans', sans-serif;
}

#btn2{
    padding-top: 20px;
   
}
.headingSmall{
    height: 10px;
    color: whitesmoke;
   font-size: x-small;
   font-family: monospace, monospace;
    text-align: center;
   justify-content: center;
}


#btn1{
    float: right;
    margin-top: -15px;
    margin-right: 40px;
  
}
nav ul li a{
  
    padding-left: 28px;
   position: absolute;
   padding-top: 5px;
}
nav ul li img{
    z-index: 2;
    position: absolute;
 top: 17px;
}


/* container1 */

 .container1{
   
   height: 540px;
   background: linear-gradient(to bottom, whitesmoke 60%, white 40%);
    position: relative;
   
}


.bodyPara{

    font-size: xx-small;
    width: 10rem;
    height: 5rem;
    text-align: justify;
   margin-top: 4rem;
    margin-right: 4rem;
    float: right;
   
  
}
.bodyHeading{
    width: 15rem;
  padding-left: 3rem;
  padding-top: 6rem;
    position: absolute;
}
.bodySmallText{
    position: absolute;
    padding-top: 4rem;
    padding-left: 3rem;
}
center{
    padding-top: 16rem;
   padding-left: 1rem;
}


.col1{
  
     /* margin-top: 5rem;
    margin-left: 18rem;  */
    height: 8rem;
    width: 12rem;
    border: white 5px solid;
  
}
.col1 h4{
    padding-left: 15px;
    padding-top: 12px;
    font-size: 0.8rem;
}
.col1 p{
    padding-left: 16px;
    padding-top: 5px;
    font-size: 0.6rem;
}
.col1 img{
    padding-left: 17px;
    padding-top: 10px;   
}
.col2{
   
    /* margin-right: 1.5rem;
    margin-top: 5rem; */
    height: 8rem;
    width: 12rem;
    border: white 5px solid;
     
   
 }
 .col2 h4{
    padding-left: 15px;
    padding-top: 12px;
    font-size: 0.8rem;
}
.col2 p{
    padding-left: 16px;
    padding-top: 5px;
    font-size: 0.6rem;
}
.col2 img{
    padding-left: 17px;
    padding-top: 10px;   
}
 .col3{
    
    /* margin-top: 5rem;
    margin-right: 20rem; */
    height: 8rem;
    width: 12rem;
    border: white 5px solid;
 }
 .col3 h4{
    padding-left: 15px;
    padding-top: 12px;
    font-size: 0.8rem;
}
.col3 p{
    padding-left: 16px;
    padding-top: 5px;
    font-size: 0.6rem;
}
.col3 img{
    padding-left: 17px;
    padding-top: 10px;   
}

 /* container2 */
 .containerb1{
  background-image: url(./space.jpg);
   background-size: cover;
  height: 50vh;
    position: relative;
}

#middlePara{
    font-size: xx-small;
    width: 10rem;
    height: 5rem;
    text-align: justify;
   margin-top: 5rem;
    margin-right: 3rem;
    float: right;
   color: whitesmoke;
 

     
   
}
#middleHeading{
    width: 15rem;
    padding-left: 3rem;
    padding-top: 7rem;
      position: absolute;
   color: #94B3FD;
 
   
}
#middleSmallText{
   color: #94B3FD;
    position: absolute;
    padding-top: 5.5rem;
    padding-left: 3rem;
  
}
.cardContainer{
  margin-top: 2rem;
  margin-right: 10rem;
}

.card-group{
   margin-top: 5rem;
   margin-bottom: 5rem;
}
.card{
    width: 15rem;
    height: 18.5rem;
   padding-bottom: 5rem;
}
.card img{
    height: 150px;
}

 /*
  =========================================================================================
                                    Social Icons
  =========================================================================================
  */
  
  
.round-btn {display: inline;height: 40px; width: 40px; background:#fff;border-radius: 50%;float: left;margin: 15px 8px;box-shadow: 2px 2px 5px 0px rgb(82, 0, 67);border: 1px solid;/*border: 1px solid #622657;*/}
.round-btn a {display: block !important;padding: 7px 12px;font-size: 18px;border-radius: 50%;}
.round-btn .icon {padding: 3px;}
.round-btn .icon img{height: 24px; width: 32px;margin-top: 6px;}
.btn-facebook a {color: #3b5998;padding: 8px 13px;}
.btn-linkedin a {color: #007bb6;}
.btn-twitter a{color: #1c9deb;}
.btn-instagram a{color: #dd3f5c;}
.btn-whatsapp a{color: #155E54;}
.btn-envelop a{color: #D6403A;font-size: 15px; padding: 9px 12px;}
.standard_header .standard_social_links {margin-left: 1rem;}

  /*
  =========================================================================================
                                    footer
  =========================================================================================
  */
 
  .footer-wrap {
    padding-top: 43px;
    background-size: cover;
}

.footer-wrap h3 {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer-wrap p {
    font-size: 13px;
    line-height: 24px;
    color: #b3b3b3;
    margin-top: 15px;
}

.footer-wrap p a {
    color: #fff;
    text-decoration: underline;
    font-style: italic;
}

.footer-wrap p a:hover {
    text-decoration: none;
    color: #ff7800;
}

.footer-links li a {
    font-size: 13px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}


.footer-links li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #ccc;
}

.footer-category li a {
    font-size: 13px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}

.footer-category li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #b3b3b3;
}

.address {
    
    color: #b3b3b3;
    font-size: 14px;
    position: relative;
    padding-left: 30px;
    line-height: 30px;
}

.address:before {
    content: "\f277";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
}

.info a {
 
    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-phone:before {
    content: "\f095";
}

.info a {

    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-fax:before {
    content: "\f1ac";
}

.copyright {
    border-top: 1px solid #111;
    font-size: 14px;
    color: #ccc;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    background: #222;
}
footer .second_class{
    border-bottom: 1px solid #444;
    padding-bottom: 25px;
}
footer .first_class {
    padding-bottom: 21px;
    border-bottom: 1px solid #444;
}
footer .first_class p, footer .first_class h3{
    margin: 0 0;
    
}
footer{
 background-image: url(./space.jpg);
 background-size: cover;

}

footer .newsletter input[type="text"] {
    width: 100%;
    background: #fff;
    color: #333;
    border: 1px solid #222;
    padding: 14px 20px;
    border-radius: 50px;
    margin-top: 12px;
}

.newsletter .newsletter_submit_btn {
    background: #fff;
    position: absolute;
    right: 30px;
    border: 0;
    top: 26px;
    font-size: 17px;
    color: #333;
}


footer .second_class_bdr{
    padding-top: 25px;
    border-top:1px solid #222;
}

footer .btn-facebook a {
    padding: 6px 14px !important;
}

footer .btn-envelop a {
    color: #D6403A;
    font-size: 15px;
    padding: 12px 12px;
}

footer .round-btn a {
    padding: 6px 12px;
}

footer .round-btn {
    box-shadow: 2px 2px 5px 0px #222 !important;}

footer .round-btn {
    margin: 15px 4px;}
  
footer dl, ol, ul {
    padding-left: 5px;
}
  footer li{
    list-style: none;
  }

@media(max-width:768px){
    .footer-wrap h3 {
    margin-top: 27px;}
    
    footer .round-btn {
    margin: 15px 4px;}
}
@media(max-width:320px){
.copyright {
    font-size: 13px;}
} 

